app = "turnertelegram"
primary_region = "ams"

[build]
  dockerfile = "Dockerfile"

[env]
  DB_PATH = "/tmp/prices.db"
  POST_TO_TELEGRAM = "true"
  FETCH_EVERY_MINUTES = "15"
  NEWS_ALERTS = "true"
  NEWS_THRESHOLD = "2.5"
  NEWS_SEND_NEUTRAL = "false"

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = false
  min_machines_running = 1
